# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CupheadProject/.vs/CupheadProject/FileContentIndex/48a5e713-01c0-4e49-86f9-1be63fbeb1b7.vsidx
CupheadProject/.vs/CupheadProject/FileContentIndex/d9358708-e04d-41b2-afcd-d0537ad770eb.vsidx
CupheadProject/.vs/CupheadProject/v17/Browse.VC.opendb
